@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgba(10, 10, 10, 0.877);
}
h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    color: rgb(24, 23, 24);
}
p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    color: rgb(14, 13, 13);
}

a{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-weight: 900;
}

a:hover {
    text-decoration: underline;
}

ul{
    font-family: 'Open Sans Condensed', sans-serif;

    
}

li{
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(17, 16, 16);
}